<nav class="navbar navbar-dark navbar-expand-md bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">Demo App for Timone Angular project</a>

    <ul class="navbar-nav ml-md-auto align-items-center">
      <li>
        <div class="dropdown" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>
            <i class="fa fa-language"></i>
          </a>
          <div class="dropdown-menu" style="width: 30px" *dropdownMenu>
            <!-- <a class="dropdown-item" href="#">CZ</a> -->
            <a class="dropdown-item" style="width: 30px" href="#">SVK</a>
            <a class="dropdown-item" style="width: 30px" href="#">EN</a>
          </div>
        </div>
      </li>
      <li class="nav-item w-full" routerLinkActive="active">
        <a [routerLink]="['/editor']" class="nav-link">Notes Editor</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/list']" class="nav-link">All Notes</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/about']" class="nav-link">About Assignment</a>
      </li>
    </ul>
  </div>
</nav>