<section class="jumbotron text-center">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Assignment details</h1>
      <p class="lead text-muted" i18n>
        Připravte jednoduchou JS (ES6,7 nebo TypeScript) aplikaci s použitím FE
        frameworku dle svého výběru (Angular2+, AngularJS,React, Vue, Stencil,
        Svelte, WebComponents…) tak, aby se dala po naklonování repository a s
        nainstalovaným node.js nainstalovat a spustit.
      </p>
    </div>
    <div class="row justify-content-left">
      <p>
        Předpřipravený server BSC s REST API, které bude aplikace používat: Root
        URL: http: / /private-9aad-note10.apiary-mock.com/ (případně použijte
        REST api podle uvážení: https://www.firebase.com/ ,
        http://jsonplaceholder.typicode.com/, nebo vlastní řešení)
      </p>
      <p>
        Metody:
      </p>
      <p></p>
      <ul>
        <li>GET /notes</li>
        <li>GET /notes/id'</li>
        <li>POST /notes</li>
        <li>PUT /notes/id</li>
        <li>DELETE /notes/id</li>
      </ul>
    </div>
  </div>
</section>
